:root{
    --text-height: 10vh;
    --custom-color: red;
    
    font-family: Helvetica,Arial, sans-serif;
}

.custom-color{
    color: var(--custom-color);
}

textarea{
    color: var(--custom-color);
    border: none;
    resize: none;
    width: 100%;
    height: auto;
    min-height: 10vh;
    font-size: var(--text-height);
}

textarea:focus, input:focus{
    border: none;
    outline: 0;
}

input[type="color"]{
    background-color: none;
    border: 0;
    color: var(--custom-color);
}